body {
    background: url("/img/background.jpeg")
}

#logo {
    height: 50px;
    width: auto;
    filter: contrast(150%);
}

#titlebar{
    background-color: rgba(24, 102, 90, 0.6);
    text-decoration-color: black;
}


[am-TopLogo] {
    max-height: 70px;
    max-width: 210px;
    margin: 12px 11px;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

blink {
    -webkit-animation: 2s linear infinite condemned_blink_effect;
    animation: 2s linear infinite condemned_blink_effect;
}

@-webkit-keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}