body {
    background: url("/img/background.jpeg")
}

[am-TopLogo] {
    max-height: 70px;
    max-width: 210px;
    margin: 12px 11px;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}